<!-- ottodigital.html -->
<div id="otto-content" class="toggle-body">
    <p><b style="color: #ebf649; font-weight: bold;">Key Achievements:</b></p>
    <ul style="padding-left: 40px; font-size: 9px; line-height: 2;">
        <li>
            <strong><a href="https://ottocash.id/" style="color:#ebf649; text-decoration: none;">OttoCash:</a></strong>
            <ul style="padding-left:20px;">
                <li><strong style="color:#ebf649;">Successfully</strong> integrated advanced QRIS functionalities such as 
                    Scan, TTM, TTS, and X-border.</li>
                <li><strong style="color:#ebf649;">Successfully</strong> led the implementation of innovative features like 
                    Token Payment and Cardless Withdrawal BCA.</li>
                <li><strong style="color:#ebf649;">Delivered</strong> a comprehensive biller system and achieved seamless 
                    integration of QRIS MPM for P2P partner, Indodana.</li>
                <li><strong style="color:#ebf649;">Successfully</strong> executed bridging token payment solutions for 
                    renowned retail chains Alfamart & Indomaret.</li>
                <li><strong style="color:#ebf649;">Successfully</strong> implemented the industry standards by enhancing 
                    the Optima dashboard, covering Transfer, CWD, QRIS, and Biller functionalities.</li>
                <li><strong style="color:#ebf649;">Accomplished</strong> the integration of OttoMart with OttoGrosir Webview and 
                    developed specialized modules for BCA CWD partners.</li>
                <li><strong style="color:#ebf649;">Achieved</strong> the implementation of the offering of diverse biller 
                    services through the OttoCash App, covering telecom, utilities, and other sectors.</li>
            </ul>
        </li>
        <li>
            <strong><a href="https://indosatooredoo.com/portal/id/psdcimkaslanding" style="color:#ebf649; text-decoration: none;">IMkas:</a></strong></li>
            <ul style="padding-left:20px;">
                <li><strong style="color:#ebf649;">Attained</strong> a robust API system for disbursement partners and top-up deposit functionalities.</li>
                <li><strong style="color:#ebf649;">Achieved</strong> BI Compliance, securing operational permissions for the application.</li>
                <li><strong style="color:#ebf649;">Launched</strong> the IMkas SDK, setting a new benchmark in fintech solutions.</li>
                <li><strong style="color:#ebf649;">Conquered</strong> the market with strategic integrations, including platforms like Funzi, MyCashBack, iSimple, and SnapChat.</li>
                <li><strong style="color:#ebf649;">Fulfilled</strong> the market's demand by launching the Promo Engine, QRIS Feature, and other standout features.</li>
            </ul>
        <li><strong style="color:#ebf649;">Led</strong> two high-performing product teams, each comprising 5 members, 
            from the Payment and Lending Tribes, showcasing unparalleled leadership and team management skills.</li>
    </ul>                
    <br>
    <p><b style="color: #ebf649; font-weight: bold; line-height: 2;">Core Responsibilities:</b></p>
    <ul style="padding-left: 40px; font-size: 9px; line-height: 2;">
        <li><strong style="color:#ebf649;">Defined</strong> and communicated the product strategy and vision in alignment with the company's goals and objectives.</li>
        <li><strong style="color:#ebf649;">Identified</strong> market opportunities and defined product vision and strategy in collaboration with stakeholders and teams.</li>
        <li><strong style="color:#ebf649;">Led</strong>, mentored, and guided a team of product managers, ensuring they have the resources and support needed to succeed.</li>
        <li><strong style="color:#ebf649;">Fostered</strong> a collaborative culture, ensuring seamless communication between product, engineering, marketing, and sales teams.</li>
        <li><strong style="color:#ebf649;">Oversaw</strong> the entire product lifecycle, from ideation to launch, and post-launch performance analysis.</li>
        <li><strong style="color:#ebf649;">Prioritized</strong> product features and enhancements based on business impact, customer feedback, and market trends.</li>
        <li><strong style="color:#ebf649;">Collaborated</strong> with cross-functional teams, including engineering, marketing, sales, and customer support, to ensure product alignment.</li>
        <li><strong style="color:#ebf649;">Engaged</strong> with external stakeholders, partners, and customers to gather feedback and insights.</li>
        <li><strong style="color:#ebf649;">Conducted</strong> competitive analysis to identify market trends, threats, and opportunities.</li>
        <li><strong style="color:#ebf649;">Stayed</strong> updated with the latest fintech trends, technologies, and regulatory changes.</li>
        <li><strong style="color:#ebf649;">Defined</strong>, monitored, and analyzed product KPIs to ensure continuous improvement and growth.</li>
        <li><strong style="color:#ebf649;">Made</strong> data-driven decisions to enhance product features and user experience.</li>
        <li><strong style="color:#ebf649;">Advocated</strong> for the customer, ensuring that the products developed meet and exceed customer expectations.</li>
        <li><strong style="color:#ebf649;">Addressed</strong> customer feedback and concerns, ensuring high customer satisfaction.</li>
        <li><strong style="color:#ebf649;">Identified</strong> potential risks in product development and created strategies to mitigate them.</li>
        <li><strong style="color:#ebf649;">Ensured</strong> compliance with fintech regulations and standards.</li>
        <li><strong style="color:#ebf649;">Oversaw</strong> the product budget, ensuring optimal allocation of resources for maximum ROI.</li>
    </ul>
</div>