<!-- techlearning.html -->
<div id="techlearning-content" class="toggle-body">
    <p><b style="color: #ebf649; font-weight: bold;">Key Achievements:</b></p>
    <ul style="padding-left: 40px;">
        <li><strong>Tech Contract & PR Management:</strong> <p style="color: #ebf649;">Successfully implement a centralized tracking system for new
            and renewal tech contracts, and purchase requests (PR) into an end-to-end (E2E) tracker.</p></li>

        <li><strong>Tooling & External Services Management:</strong> <p style="color: #ebf649;">Successfully crafted a complex database, resulting in
            proactive tool management, ensuring peak utilization, and spearheaded cost-saving strategies by identifying
            and rectifying underutilized resources.</p></li>

        <li><strong>Tech Approval Process:</strong> <p style="color: #ebf649;">Successfully achieved an impressive 90% stakeholder satisfaction
            from SLA Tech Approval Process through the integration of a performance tracking system, harnessed
            data-driven insights, ensuring a continuously evolving and efficient approval workflow.</p></li>

        <li><strong>Event Feedback Enhancement:</strong> <p style="color: #ebf649;">Successfully increased participant feedback rates from 15% to
            30% for events such as Buka Tech Conversation (BTC), Tech Townhall, and Tribe Sharing Sessions.</p></li>
    </ul>
    <br>
    <p><b style="color: #ebf649; font-weight: bold;">Core Responsibilities:</b></p>
    <ul style="padding-left: 40px;">
        <li>Led and oversee the entire procurement process, including Purchase Requests (PR),
            Purchase Orders (PO), Invoicing, and Goods Receipt (GR).</li>
        <li>Develop and implement strategic procurement initiatives to optimize costs and improve efficiency.</li>
        <li>Collaborate with finance teams to ensure accurate budgeting and financial forecasting for the division.</li>
        <li>Set the direction and standards for the technical approval process across the Tech Function/Division.</li>
        <li>Lead cross-functional teams to ensure adherence to technical standards and guidelines.</li>
        <li>Lead the strategy to cultivate a strong engineering culture and continuous learning environment.</li>
        <li>Organize key tech events and workshops to drive innovation and skill enhancement.</li>
        <li>Collaborate with external entities to amplify the organization's technical brand.</li>
        <li>Curate and adapt learning curriculum in line with audience needs and business objectives.</li>
        <li>Provide hands-on mentorship to nurture engineering talent.</li>
        <li>Create comprehensive technical learning programs and specialized training for prospective team members.</li>
    </ul>
</div>